<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lu5je0.storage.mapper.StorageDOMapper">
  <resultMap id="BaseResultMap" type="com.lu5je0.storage.bean.StorageDO">
    <!--@mbg.generated-->
    <!--@Table `storage`-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `count`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from `storage`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from `storage`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lu5je0.storage.bean.StorageDO">
    <!--@mbg.generated-->
    insert into `storage` (id, `count`)
    values (#{id,jdbcType=INTEGER}, #{count,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lu5je0.storage.bean.StorageDO">
    <!--@mbg.generated-->
    insert into `storage`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="count != null">
        `count`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lu5je0.storage.bean.StorageDO">
    <!--@mbg.generated-->
    update `storage`
    <set>
      <if test="count != null">
        `count` = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lu5je0.storage.bean.StorageDO">
    <!--@mbg.generated-->
    update `storage`
    set `count` = #{count,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>